.DS_Store
*.zip
*.tar.gz
tags
database.yml
*.log
**/*.swp

bower_components
node_modules
.sass-cache

cordova/www/all.css
cordova/www/all.js
cordova/www/vendor.js
cordova/platforms/android/ant-build
cordova/platforms/android/ant-gen
cordova/platforms/android/assets/www
cordova/platforms/android/CordovaLib/ant-build
cordova/platforms/android/CordovaLib/ant-gen
